<div class="container">
    <div class="rules-container">
        <span class="rules-text">CARGO QUEST</span>
    </div>
    <div class="info-box">
        <p>Players: 5</p>
    </div>
    <div class="big-box">
        <div class="frame">
            <p class="label"><strong>Character Name:</strong></p>
            <input type="text" class="input-field" placeholder="Enter character name">
            <p class="label"><strong>Character Role:</strong></p>
            <select class="dropdown">
                <option value="producer">Producer</option>
                <option value="buyer">Buyer</option>
                <option value="shipper">Shipper</option>
                <option value="financier">Financier</option>
                <option value="company">Company</option>
            </select>

            <table class="table">
                <tr>
                    <th>Character</th>
                    <th>Name</th>
                </tr>
                <tr>
                    <td>Character 1</td>
                    <td>Name 1</td>
                </tr>
            </table>
        </div>
        <button (click)="goToMain()">Generate Game!</button>
    </div>
</div>

<script>

    function startTimer() {
        const timerElement = document.getElementById('timer');
        let seconds = 0;

        function formatTime(time) {
            return time < 10 ? `0${time}` : time;
        }

        setInterval(() => {
            seconds++;
            const minutes = Math.floor(seconds / 60);
            const remainingSeconds = seconds % 60;
            timerElement.textContent = `${formatTime(minutes)}:${formatTime(remainingSeconds)}`;
        }, 1000);
    }
    function goToNext() {
        console.log('Button clicked!');
    }

    document.addEventListener('DOMContentLoaded', startTimer);
</script>