<div class="container">
    <div class="rules-container">
        <span class="rules-text" (click)="goToHomepage()">CARGO QUEST</span>
    </div>
    <div class="info-box">
        <p>Players: {{readyPlayers}}</p>
        <p>|</p>
        <p>Votes Static Game: {{counterStatic}}</p>
        <p>|</p>
        <p>Votes Blockchain Game: {{counterBlock}}</p>
    </div>
    <div class="big-box">
      <div class="frame">
          <form #roleForm="ngForm" (ngSubmit)="onSubmit(roleForm.value)" class="roleSelForm">
            <p class="label"><strong>Character Name:</strong></p>
            <input type="text" class="input-field" placeholder="Enter character name" id="name" name="name" ngModel>
            <p class="label"><strong>Character Role:</strong></p>
            <select class="dropdown" id="role" name="role" ngModel>
                <option value="producer">Producer</option>
                <option value="buyer">Buyer</option>
                <option value="shipper">Shipper</option>
                <option value="financier">Financier</option>
                <option value="company">Company</option>
            </select>
            <input type="submit" class="input-button" value="Choose Role and Game">
            <i class="warning-Text" *ngIf="nameTakenWarning">{{nameTakenWarning}}</i>
            <i class="warning-Text" *ngIf="roleTakenWarning">{{roleTakenWarning}}</i>
          </form>
      </div>
      <div class="player-table-box">
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Role</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let player of data">
            <td>{{ player.name }}</td>
            <td>{{ player.role }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="static-game-box">
        <button (click)="onStaticGameClick()">Static Game</button>
      </div>
      <div class="blockchain-game-box">
        <button (click)="onBlockchainGameClick()">Blockchain Game</button>
      </div>
    </div>
</div>
<script>

    function startTimer() {
        const timerElement = document.getElementById('timer');
        let seconds = 0;

        function formatTime(time) {
            return time < 10 ? `0${time}` : time;
        }

        setInterval(() => {
            seconds++;
            const minutes = Math.floor(seconds / 60);
            const remainingSeconds = seconds % 60;
            timerElement.textContent = `${formatTime(minutes)}:${formatTime(remainingSeconds)}`;
        }, 1000);
    }
    function goToNext() {
        console.log('Button clicked!');
    }

    document.addEventListener('DOMContentLoaded', startTimer);
</script>
