html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.container {
  background-color: #303B44;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-family: 'Hind', sans-serif;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.warning-Text{

}
.rules-container {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
}
.rules-text {
  color: #FFD215;
  font-size: 24px;
  font-weight: bold;
}
.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  padding: 10px;
  background-color: #6C47F6;
  width: 1000px;
  height: 40px;
  border-color: #FFD215;
  border-width: 3px;
  border-style: solid;
  border-radius: 20px;
}
.big-box {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 100px;
  padding: 15px;
  background-color: white;
  width: 1000px;
  height: 450px;
  border-radius: 20px;
  border-style: solid;
  font-family: 'Hind', sans-serif;
  font-size: 24px;
  text-align: center;
}
.big-box button {
  background-color: #6C47F6;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 130px;
  right: 220px;
  font-family: 'Hind', sans-serif;
  font-size: 24px;
}
.frame {
    border: 3px solid #FFD215;
    border-radius: 20px;
    width: 450px;
    height: 400px;
    background-color: #FFFFFF;
    color: #6C47F6;
    margin-left: 25px;
    margin-right: 25px;
    font-family: 'Hind', sans-serif;
    font-size: 22px;
}
.label {
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 15px;
}
.input-field {
    width: 400px;
    padding: 10px;
    margin: 15px;
    border: 1px solid #FFD215;
    border-radius: 4px;
    margin-bottom: 10px;
}
.input-button {
  width: 150px;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid #FFD215;
  border-radius: 4px;

}
.dropdown {
    width: 425px;
    padding: 10px;
    margin: 15px;
    border: 1px solid #FFD215;
    border-radius: 4px;
}
.table {
    margin-top: 30px;
    width: 450px;
    border-collapse: collapse;
    border-radius: 20px;
    overflow: hidden;
}
.player-table-box{
  align-self: auto;
  width: 450px;
}

.table th,
.table td {
    border: 1px solid #FFD215;
    padding: 8px;
    text-align: center;
}

.table th {
    background-color: #6C47F6;
    color: white;
}

.table td {
    color: #6C47F6;
}
