<div class="container">
    <div class="rules-container">
        <span class="rules-text" (click)="goToHomepage()">CARGO QUEST</span>
    </div>
    <div class="info-box">
        <p>Players: {{readyPlayers}}</p>
        <p>|</p>
        <p>Votes Static Game: {{counterStatic}}</p>
        <p>|</p>
        <p>Votes Blockchain Game: {{counterBlock}}</p>
        <p>|</p>
        <p>Timer: {{timeLeft}}</p>
    </div>
    <div class="big-box">
      <div class="frame">
          <form #roleForm="ngForm" (ngSubmit)="onSubmit(roleForm.value)" class="roleSelForm">
            <p class="label"><strong>Character Name:</strong></p>
            <input type="text" class="input-field" placeholder="Enter character name" id="name" name="name" ngModel>
            <p class="label"><strong>Character Role:</strong></p>
            <select [(ngModel)]="selectedRole" class="dropdown" id="role" name="role" ngModel>
              <option *ngFor="let role of availableRoles" [value]="role">{{ role }}</option>
            </select>
            <input type="submit" class="input-button" value="Choose Role and Game">
            <i class="warning-Text" *ngIf="nameTakenWarning">{{nameTakenWarning}}</i>
          </form>
      </div>
      <div class="player-table-box">
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Role</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let player of data">
            <td>{{ player.name }}</td>
            <td>{{ player.role }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="static-game-box">
        <button (click)="onStaticGameClick()">Static Game</button>
      </div>
      <div class="blockchain-game-box">
        <button (click)="onBlockchainGameClick()">Blockchain Game</button>
      </div>
    </div>
</div>
<script>
</script>
