//button {
//  font-size: 20px;
//  margin: 0.5em;
//}


.container {
  margin-top: 5em;
}

button {
  font-size: 30px;
  margin: 0.5em;
  border-radius: 20px;
  padding: 0.5em 1em;
  width: 100%;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #1e88e5;
    transform: scale(1.09);
  }
}
