<div *ngIf="displayQuestion" id="game">
  <div class="container unsolved">
    <div class="pair_items left">
      <h1 *ngIf="question" class="item">
        {{question.question}}
      </h1>
    </div>
    <div class="pair_items right">
      <!--keep track of index to register user's choice-->
      <button
        *ngFor="let choice of question.choices; index as i;"
        class="item"
        (click)="checkAnswer(i);"
      >
        {{choice}}
      </button>
    </div>
  </div>
  <!--Run this only after the user has clicked a button-->
  <div *ngIf="clicked">
    <div class="container solved">
      {{ answer ? 'CORRECT!' : 'INCORRECT!' }}
    </div>

  </div>

  <!--This is the question timer component-->
  <app-timeLeft [answer]="answer" (timeExpiredEvent)="handleAnswer(false)"></app-timeLeft>
</div>


