<div *ngIf="displayQuestion" id="game">
  <div class="container unsolved">
    <div class="pair_items left">
      <h1 *ngIf="question" class="item">
        {{question.question}}
      </h1>
    </div>
    <div class="pair_items right">
      <button
        *ngFor="let choice of question.choices; index as i;"
        class="item"
        (click)="clicked = true; choiceIndex = i; checkAnswer();"
      >
        {{choice}}
      </button>
    </div>
  </div>
  <div *ngIf="clicked == true">
    <div class="container solved" *ngIf="checkAnswer()">
      CORRECT!
    </div>
    <div class="container solved" *ngIf="!checkAnswer()">
      INCORRECT!
    </div>
  </div>

  <app-timeLeft [answer]="answer" (timeExpiredEvent)="incorrectAnswer()"></app-timeLeft>
</div>


