<div id="game">
  <div class="container unsolved">
    <div class="pair_items left">
      <h1 *ngIf="question" class="item">
        {{this.question.question}}
      </h1>
    </div>
    <div class="pair_items right">
      <button *ngFor="let choice of this.question.choices; let i = index;" class="item" (click)="this.clicked = true; this.choiceIndex = i">
        {{choice}}
      </button>
    </div>
  </div>
  <div *ngIf="this.clicked == true">
    <div class="container solved" *ngIf="this.question.answerIndex == this.choiceIndex">
      CORRECT!
    </div>
    <div class="container solved" *ngIf="this.question.answerIndex != this.choiceIndex">
      INCORRECT!
    </div>
  </div>

</div>

