<form #orderForm="ngForm" (ngSubmit)="onSubmit(orderForm.value)">
  <label for="manuf">Manufacturer:</label>
  <select name="manuf" id="manuf" ngModel>
    <option value="coolPc">CoolPc</option>
    <option value="richSystems">RichSystems</option>
    <option value="studentUnit">StudentUnit</option>
  </select>
  <label for="cpu">CPU:</label>
  <select name="cpu" id="cpu" ngModel>
    <option value="ic5">IC5</option>
    <option value="extreme11">Extreme11</option>
    <option value="monster13">Monster13</option>
  </select>
  <label for="gpu">GPU</label>
  <select name="gpu" id="gpu" ngModel>
    <option value="vc48">VC48</option>
    <option value="vx65">VideoExtreme65</option>
    <option value="gp12">GraphicsPower12</option>
  </select>

  <button class="rounded-button" type="submit">Submit</button>
</form>

<table class="table">
  <thead>
    <tr>
      <td>Manufacturer</td>
      <td>CPU</td>
      <td>GPU</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orderData">
      <td>{{ order.manuf }}</td>
      <td>{{ order.cpu }}</td>
      <td>{{ order.gpu }}</td>
    </tr>
  </tbody>
</table>

<h2>Approve or disapprove order</h2>
<table class="tableAccept">
  <select name="approvalSelect" id="approvalSelect" [(ngModel)]="selectedOrder">
    <option *ngFor="let order of orderData" [ngValue]="order">{{order.orderC}} {{order.manuf}} {{order.cpu}}
      {{order.gpu}}</option>
  </select>
  <br>
  <button class="approve" (click)="approveOrderSubmit()">Approve</button>
  <button class="decline" (click)="dissapproveOrderSubmit()">Disapprove</button>
</table>