<form #orderForm="ngForm" (ngSubmit)="onSubmit(orderForm.value)">
  <label for="manuf">Manufacturer:</label>
  <select name="manuf" id="manuf" ngModel>
    <option value="coolPc">CoolPc</option>
    <option value="richSystems">RichSystems</option>
    <option value="studentUnit">StudentUnit</option>
  </select>
  <label for="cpu">CPU:</label>
  <select name="cpu" id="cpu" ngModel>
    <option value="ic5">IC5</option>
    <option value="extreme11">Extreme11</option>
    <option value="monster13">Monster13</option>
  </select>
  <label for="gpu">GPU</label>
  <select name="gpu" id="gpu" ngModel>
    <option value="vc48">VC48</option>
    <option value="vx65">VideoExtreme65</option>
    <option value="gp12">GraphicsPower12</option>
  </select>

  <button type="submit">Submit</button>
</form>

<table class="table">
  <thead>
  <tr>
    <th>Manufacturer</th>
    <th>Cpu</th>
    <th>Gpu</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orderData"> <!-- *ngFor="let order of data" for all, just put order instead of this -->
    <td>{{ order.manuf }}</td> <!-- Change with this for order -->
    <td>{{ order.cpu }}</td>
    <td>{{ order.gpu }}</td>
  </tr>
  </tbody>
</table>
<br>
<br>
<br>
<br>
<br>

  <h2 style="color: green">Approve or disapprove order</h2>
  <table class="tableAccept">
    <select name="approvalSelect" id="approvalSelect" [(ngModel)]="selectedOrder">
      <option *ngFor="let order of orderData" [ngValue]="order">{{order.orderC}} {{order.manuf}} {{order.cpu}} {{order.gpu}}</option>
    </select>
    <br>
    <button style="color: green" (click)="approveOrderSubmit()">Approve</button>
    <br>
    <button style="color: red" (click)="dissapproveOrderSubmit()">Disapprove</button>
  </table>
