<div class="rules-container">
  <span class="rules-text" (click)="goToHomepage()">CARGO QUEST</span>
</div>
<div class="container">
    <div class="big-box">
        <h2 style="background-color: white">Welcome to Cargo Quest!</h2>
        <p style="background-color: white">The ultimate logistics supply game where you'll embark on an exciting journey to test your strategic
            thinking, decision-making skills, and ability to manage complex supply chains. Are you ready to become a
            logistics maestro?</p>
        <img ngSrc="assets/roles.png" alt="Roles Image" height="520" width="330">
        <div class="roles" style="background-color: white">
            <div>
                <h4>Client</h4>
                <p>Requesting Party</p>
            </div>
            <div>
                <h4>Buyer</h4>
                <p>Procurement Specialist</p>
            </div>            <div>
                <h4>Financier</h4>
                <p>Financial Supporter</p>
            </div>
            <div>
                <h4>Shipper</h4>
                <p>Goods Transporter</p>
            </div>
            <div>
                <h4>Producer</h4>
                <p>Goods Manufacturer</p>
            </div>
        </div>
        <button (click)="goToNext()">Next</button>
    </div>
</div>
