<mat-card

  class="container"
  *ngIf="department"
  [style.backgroundColor]="Department.getColor(department.id)"
>
  <tr>
    <h1>{{ department.name }}</h1>
  </tr>
  <div class="d-flex align-items-start justify-content-center">
    <textarea rows="3" cols="40" #message></textarea>
  </div>
  <button class="btn btn-primary" (click)="message.value.trim() !== '' && sendBlockToBlockchain(message.value)">Submit</button>
  <br>
</mat-card>
<div class="container2">
   <app-blockchain></app-blockchain>
</div>
