<mat-card class="item">
  <table>
    <tr>
      <h1>Blockchain</h1>
    </tr>
    <tr *ngFor="let block of blocks | sortBlocksByTimestamp | reverseArray; index as i">
      <button
        class="btn btn-primary"
        (click)="setIndex(blocks.length - 1 - i)"
        [style.backgroundColor]="getColor(getBlockDepartmentId(block))"
      >
        <td
          [ngStyle]=""
        >
          {{ getBlockHash(block) }}
        </td>

      </button>
    </tr>
  </table>
</mat-card>
<div *ngIf="click">
  <app-block-info
    [hash]="getBlockHash(blocks[index])"
    [id]="getBlockDepartmentId(blocks[index])"
    [department]="getBlockDepartmentName(blocks[index])"
    [description]="getBlockDepartmentDescription(blocks[index])"
    [message]="getBlockMessage(blocks[index])"
  ></app-block-info>
</div>
