* {
  font-family: 'Sora', sans-serif;
}

mat-card {
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
}

.item {
  width: 600px;
  margin: 20px auto;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  font-size: 1.3em;
  font-weight: bold;
}

.item .mat-card-header {
  display: flex;
  align-items: center;
  height: 100%;
}


.mat-card-header-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left: 1.5em;
  margin-top: -0.35em;
  line-height: 1;
  font-size: 1.8em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
  word-break: break-word;
  text-align: center;
}

.message span {
  margin: 0;
  line-height: normal;
}

