<!DOCTYPE html>
<html>
<head>
  <title>Supply chain classic multiplayer edition</title>
</head>
<body>
<h1>Supply chain classic multiplayer edition</h1>
<form *ngIf="showForm" #roleForm="ngForm" (ngSubmit)="toggleDiv(selectedRole)">
  <label>Role</label><br>
  <select [(ngModel)]="selectedRole" name="role">
    <option value="producer">Producer</option>
    <option value="buyer">Buyer</option>
    <option value="shipper">Shipper</option>
    <option value="financier">Financier</option>
    <option value="gamemaster">Game-master</option>
  </select>
  <button type="submit">Take role</button>
</form>

<div *ngIf="showGM">
  <label>Game master:</label><br>
  <ul>
    <ng-container *ngFor="let item of messages">
      <li *ngIf="isMessageVisible(item)">
        <span *ngIf="item.text">{{ item.text }}</span>
      </li>
    </ng-container>
  </ul>
  <input type="text" [(ngModel)]="senderGMaster"><br>
  <button (click)="pushTextWithRole('senderGMaster', 'buyer')">Send to buyer</button>
  <button (click)="ProductGood()">Product was good</button>
  <button (click)="ProductBad()">Product was bad</button><br>
  <a>Good products: {{goodNumber}}</a><br>
  <a>Bad products: {{badNumber}}</a>
</div>

<!-- Element 2 -->
<div *ngIf="showBuyer">
  <label>Buyer:</label><br>
  <ul>
    <ng-container *ngFor="let item of messages">
      <li *ngIf="isMessageVisible(item)">
        <span *ngIf="item.text">{{ item.text }}</span>
      </li>
    </ng-container>
  </ul>
  <input type="text" [(ngModel)]="senderBuyer"><br>
  <button (click)="pushTextWithRole('senderBuyer','financier')">Send for financier's approval</button>
  <button (click)="pushTextWithRole('senderBuyer', 'shipper')">Send to the shipper</button>
  <button (click)="pushTextWithRole('senderBuyer', 'gamemaster')">Send to the client</button>
</div>

<!-- Element 3 -->
<div *ngIf="showFinancier">
  <label>Financier:</label><br>
  <ul>
    <ng-container *ngFor="let item of messages">
      <li *ngIf="isMessageVisible(item)">
        <span *ngIf="item.text">{{ item.text }}</span>
      </li>
    </ng-container>
  </ul>
  <input type="text" [(ngModel)]="senderFinancier"><br>
  <button (click)="pushTextWithRole('senderFinancier', 'buyer')">Send to buyer</button>
  <button (click)="pushTextWithRole('receiverFinancier', 'shipper')">Send to shipper</button>
  <button (click)="pushTextWithRole('receiverFinancier', 'producer')">Send to producer</button>
</div>

<!-- Element 4 -->
<div *ngIf="showShipper">
  <label>Shipper:</label><br>
  <ul>
    <ng-container *ngFor="let item of messages">
      <li *ngIf="isMessageVisible(item)">
        <span *ngIf="item.text">{{ item.text }}</span>
      </li>
    </ng-container>
  </ul>
  <input [(ngModel)]="senderShipper" type="text"><br>
  <button (click)="pushTextWithRole('senderShipper', 'financier')">Send for financier's approval</button>
  <button (click)="pushTextWithRole('senderShipper', 'producer')">Send to producer</button>
</div>

<!-- Element 5 -->
<div *ngIf="showProducer">
  <ul>
    <ng-container *ngFor="let item of messages">
      <li *ngIf="isMessageVisible(item)">
        <span *ngIf="item.text">{{ item.text }}</span>
      </li>
    </ng-container>
  </ul>
  <input type="text" [(ngModel)]="senderProducer"><br>
  <button (click)="pushTextWithRole('senderProducer', 'financier')">Send for financier's approval</button>
  <button (click)="pushTextWithRole('senderProducer', 'buyer')">Send to buyer</button>
</div>

</body>
</html>
