<!DOCTYPE html>
<html>
<head>
  <title>Supply chain classic bare-bones</title>
</head>
<body>
<h1>Supply chain classic bare-bones</h1>
<form *ngIf="showForm" #roleForm="ngForm" (ngSubmit)="toggleDiv(selectedRole)">
  <label>Role</label><br>
  <select [(ngModel)]="selectedRole" name="role">
    <option value="producer">Producer</option>
    <option value="buyer">Buyer</option>
    <option value="shipper">Shipper</option>
    <option value="financier">Financier</option>
    <option value="gamemaster">Game-master</option>
  </select>
  <button type="submit">Take role</button>
</form>

<div *ngIf="showGM">
  <input type="text" [(ngModel)]="value1">
  <input type="text" [ngModel]="value2">
  <button (click)="moveValue('value1', 'value2')">Move Value</button>

  <label>Game master:</label><br>
  <ul [(ngModel)]="receiverGMaster">
    <li *ngFor="let item of messages">{{ item.text }}</li>
  </ul>
  <input type="text" [(ngModel)]="senderGMaster"><br>
  <button (click)="moveValue('senderGMaster', 'receiverBuyer')">Send to buyer</button>
  <button (click)="ProductGood()">Product was good</button>
  <button (click)="ProductBad()">Product was bad</button><br>
  <a>Good products: {{goodNumber}}</a><br>
  <a>Bad products: {{badNumber}}</a>
</div>

<!-- Element 2 -->
<div *ngIf="showBuyer">
  <label>Buyer:</label><br>
  <ul [(ngModel)]="receiverBuyer">
    <li *ngFor="let item of messages">
      <span *ngIf="isMessageVisible(item)">{{ item.text }}</span>
    </li>
  </ul>
  <input type="text" [(ngModel)]="senderBuyer"><br>
  <button (click)="pushTextWithRole('senderBuyer','financier')">Send for financier's approval</button>
  <button (click)="moveValue('senderBuyer', 'receiverShipper')">Send to the shipper</button>
  <button (click)="moveValue('senderBuyer', 'receiverGMaster')">Send to the client</button>
</div>

<!-- Element 3 -->
<div *ngIf="showFinancier">
  <label>Financier:</label><br>
  <ul [(ngModel)]="receiverFinancier">
    <li *ngFor="let item of messages">
      <span *ngIf="isMessageVisible(item)">{{ item.text }}</span>
    </li>
  </ul>
  <input type="text" [(ngModel)]="senderFinancier"><br>
  <button (click)="pushTextWithRole('senderFinancier','buyer')">Send to buyer</button>
  <button (click)="moveValue('receiverFinancier', 'receiverShipper')">Send to shipper</button>
  <button (click)="moveValue('receiverFinancier', 'receiverProducer')">Send to producer</button>

</div>

<!-- Element 4 -->
<div *ngIf="showShipper">
  <label>Shipper:</label><br>
  <textarea readonly rows="5" cols="50" [(ngModel)]="receiverShipper"></textarea><br>
  <input [(ngModel)]="senderShipper" type="text"><br>
  <button (click)="moveValue('senderShipper', 'receiverFinancier')">Send for financier's approval</button>
  <button (click)="moveValue('senderShipper', 'receiverProducer')">Send to producer</button>
</div>

<!-- Element 5 -->
<div *ngIf="showProducer">
  <label>Producer:</label><br>
  <textarea readonly rows="5" cols="50" [(ngModel)]="receiverProducer"></textarea><br>
  <input type="text" [(ngModel)]="senderProducer"><br>
  <button (click)="moveValue('senderProducer', 'receiverFinancier')">Send for financier's approval</button>
  <button (click)="moveValue('senderProducer', 'receiverBuyer')">Send to buyer</button>
</div>

</body>
</html>
