button{
  border-radius: 20px;
  background-color: #50C878;
  color: black;
  width: 90px;
  height: 30px;
  border-color:#50C878;
  margin: 20px;
}

h1{
  color: white;
}

select{
  background-color:white;
  width: 220px;
  height: 25px;
  margin: 20px;
}
