.main {
  font-family: 'Hind', sans-serif;
  font-size: 16px;
  text-align: left;
  margin: 20px;
}

button {
  border-radius: 20px;
  background-color: #FFD215;
  color: #303B44;
  height: 27px;
  padding: 5px 10px;
  margin-right: 10px;
  border-color:#FFD215;
  margin-top: 20px;
}

.main-box {
  margin-left: 60px;
  margin-top: 20px;
}

input[type="text"] {
  width: 510px;
  background-color: white;
  height: 25px;
  font-size: 14px;
  margin-top: 20px;
}

.order-item {
  margin-top:20px;
  text-align: center;
  height:auto;
  width: auto;
  background-color:#FFD215;
  color: white;
}

.order-item > p{
  background-color: #6C47F6;
}

details[open] .order-item {
  background-color: #6C47F6;
  font-size: 12px;
}

label {
  margin: 30px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  font-family: 'Hind', sans-serif;
}
  .table {
    border: 1px solid #FFD215;
    margin: 20px;
    color: white;
  }

  .table tr,
  .table td {
    border: 1px solid #FFD215;
    padding: 5px;

  }
select {
  background-color:white;
  color: white;
  width: 220px;
  height: 25px;
  margin: 20px;
}
p {
  color:white;
  font-size: 20px;
  margin: 20px;
  font-family: 'Hind', sans-serif;
}

.rules-container {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
}
.rules-text {
  color: #FFD215;
  font-size: 24px;
  font-weight: bold;
}
.mainContent {
  margin-top: 50px;
}