<div class="main">
  <div class="info-box">
    <p>Time left: {{timerMinutes}}:{{timerSecondsString}}</p>
    <p>|</p>
    <p>Players: 5</p>
  </div>

    <div *ngIf="showGM">
      <label>Buyer:</label><br>
      <app-orders></app-orders>
      <app-questions></app-questions>
      <div>
        <h2>Objective of this role:</h2>
        <a>Your objective is to periodically send orders to the store. Your other objective is to approve or disapprove received orders
          ,based on whether the received product matches your order.</a>
      </div>
    </div>

    <!-- Element 2 -->
    <div *ngIf="showStore">
      <label>Store:</label><br>
      <input type="text" [(ngModel)]="senderStore" class="rounded-select"><br>
      <button (click)="pushTextWithRole('senderStore','financier')">Request budget approval statement</button>
      <button (click)="storeToManufacturer('senderStore', 'manufacturer')">Place a manufacturing order</button>
      <button (click)="pushTextWithRole('senderStore', 'buyer')">Deliver the product to the client</button>
      <app-answer-questions></app-answer-questions>
      <div>
        <h2>Objective of this role:</h2>
        <a>Your objective is to to firstly check with the financier if you can afford to buy the order, after which,
          send it to the manufacturer. The complete orders you receive should be given back to the client.</a>
      </div>
    </div>

    <!-- Element 3 -->
    <div *ngIf="showFinancier">
      <label>Financier:</label><br>
      <p>Store Money: {{storeMoney}}</p>
      <p>Manufacturer Money: {{manufactureMoney}}</p>
      <input type="text" [(ngModel)]="senderFinancier" class="rounded-select"><br>
      <button (click)="pushTextWithRole('senderFinancier', 'store')">Send budget approval statement to the client</button>
      <button (click)="pushTextWithRole('senderFinancier', 'manufacturer')">Send budget approval statement to the manufacturer</button>
      <app-answer-questions></app-answer-questions>
      <div>
        <h2>Objective of this role:</h2>
        <a>Your objective is to confirm that the store and the manufacturer have the budget to buy or manufacture the order.</a>
      </div>
    </div>

    <!-- Element 4 -->
    <div *ngIf="showManufacturer">
      <label>Manufacturer:</label><br>
      <input [(ngModel)]="senderManufacturer" type="text" class="rounded-select"><br>
      <button (click)="pushTextWithRole('senderManufacturer', 'financier')">Request budget approval statement</button>
      <button (click)="manufToShipper('senderManufacturer', 'shipper')">Hand the product over to the shipper</button>
      <app-answer-questions></app-answer-questions>
      <div>
        <h2>Objective of this role:</h2>
        <a>Your objective is to manufacture goods: the store sends an order, your objective is to check with the financier
          whether you can build it and then you have to send it to the shipper.</a>
      </div>
    </div>

    <!-- Element 5 -->
    <div *ngIf="showShipper">
      <label>Shipper:</label>
      <input type="text" [(ngModel)]="senderShipper" class="rounded-select"><br>
      <button (click)="pushTextWithRole('senderShipper', 'store')">Deliver to the store</button>
      <app-answer-questions></app-answer-questions>
      <div>
        <h2>Objective of this role:</h2>
        <a>Your objective is to redirect received built orders to the store.</a>
      </div>
    </div>
    <br>
    <h2>Blockchain</h2>
    <div class="containerTest">
      <details class="order-block" *ngFor="let item of messages" [attr.id]="item.role">
        <summary class ="order-block" [ngClass]="{
        'red-order-block' : item.role == 'buyer',
        'orange-order-block' : item.role == 'store',
        'yellow-order-block' : item.role == 'financier',
        'green-order-block' : item.role == 'manufacturer',
        'blue-order-block' : item.role == 'shipper'}">Block {{randInt(0,1000000)}}</summary>
        <p class="itemText">{{item.text}}</p>
      </details>
    </div>
</div>
