<div class="main">
  <div class="info-box">
    <p>Time left: {{timerMinutes}}:{{timerSecondsString}}</p>
    <p>|</p>
    <p>Players: 5</p>
  </div>

    <div *ngIf="showGM">
      <label>Buyer:</label><br>
      <app-orders></app-orders>
    </div>

    <!-- Element 2 -->
    <div *ngIf="showStore">
      <label>Store:</label><br>
      <input type="text" [(ngModel)]="senderStore"><br>
      <button (click)="pushTextWithRole('senderStore','financier')">Send for financier's approval</button>
      <button (click)="storeToManufacturer('senderStore', 'manufacturer')">Send to the manufactorer</button>
      <button (click)="pushTextWithRole('senderStore', 'buyer')">Send to the client</button>
    </div>

    <!-- Element 3 -->
    <div *ngIf="showFinancier">
      <label>Financier:</label><br>
      <p>Store Money: {{storeMoney}}</p>
      <p>Manufacturer Money: {{manufactureMoney}}</p>
      <input type="text" [(ngModel)]="senderFinancier"><br>
      <button (click)="pushTextWithRole('senderFinancier', 'store')">Send to the store</button>
      <button (click)="pushTextWithRole('senderFinancier', 'manufacturer')">Send to the manufacturer</button>
      <button (click)="pushTextWithRole('senderFinancier', 'shipper')">Send to delivery</button>
    </div>

    <!-- Element 4 -->
    <div *ngIf="showManufacturer">
      <label>Manufacturer:</label><br>
      <input [(ngModel)]="senderManufacturer" type="text"><br>
      <button (click)="pushTextWithRole('senderManufacturer', 'financier')">Send for financier's approval</button>
      <button (click)="manufToShipper('senderManufacturer', 'shipper')">Send to delivery</button>
    </div>

    <!-- Element 5 -->
    <div *ngIf="showShipper">
      <label>Shipper:</label>
      <input type="text" [(ngModel)]="senderShipper"><br>
      <button (click)="pushTextWithRole('senderShipper', 'financier')">Send for financier's approval</button>
      <button (click)="pushTextWithRole('senderShipper', 'store')">Send to store</button>
    </div>
    <br>
    <h2>Blockchain</h2>
    <div class="containerTest">
      <details class="order-item" *ngFor="let item of messages">
        <summary>Block {{orderC}}</summary>
        <p>{{item.text}}</p>
      </details>
    </div>
</div>
