 html, body {
      margin: 0;
      padding: 0;
      height: 100%;
    }

    .container {
      background-color: #303B44;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; 
      color: white;
      font-family: 'Hind', sans-serif;
      font-size: 20px;
      font-weight: bold;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 130%;
    }

    .rules-container {
      padding: 10px;
      padding: 10px;
      margin-top: 15px;
      margin-left: 20px;
    }

    .rules-text {
      color: #FFD215;
      font-size: 24px;
      font-weight: bold;
    }

    .info-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 300px;
      padding: 10px;
      width: 999px;
      height: 25px;
      border-color: #FFD215;
      border-width: 3px;
      border-style: solid; 
      border-radius: 20px;
      background-color:#6C47F6;
    }

    .info-box p {
      color: white;
      margin: 0;
    }

    .main {
      font-family: 'Hind', sans-serif;
      font-size: 16px;
      text-align: left;
    }

    button {
      border-radius: 20px;
      background-color: #FFD215;
      color: #303B44;
      height: 27px;
      padding: 5px 10px;
      margin-right: 10px;
      border-color:#FFD215;
      margin-top: 20px;
    }

    .main-box {
      margin-left: 60px;
      margin-top: 20px;
    }

    input[type="text"] {
      width: 510px;
      background-color: white;
      height: 25px;
      font-size: 14px;
      margin-top: 20px;
    }

    h2 {
      margin-top: 20px;
    }
    p {
      background-color: #6C47F6;
    }

    #c {
        width: 100%;
        height: 100%;
        display: block;
    }
    