<div class="rules-container">
  <span class="rules-text">CARGO QUEST</span>
</div>
<div class="appOrders">
    <div class="info-box">
      <p>Time left: {{timerMinutes}}:{{timerSecondsString}}</p>
      <p>|</p>
      <p>Players: 5</p>
    </div>
    <div class="mainContent">
      <div *ngIf="showGM">
        <label>Buyer:</label><br>
          <app-orders></app-orders>
        <h2>Messages</h2>
        <ul>
          <ng-container *ngFor="let item of messages">
            <li *ngIf="isMessageVisible(item)">
              <span *ngIf="item.text">{{ item.text }}</span>
            </li>
          </ng-container>
        </ul>
        <br>
        <app-questions></app-questions>
        <div>
          <h2>Objective of this role:</h2>
          <a>Your objective is to periodically send orders to the store. Your other objective is to approve or disapprove received orders
            ,based on whether the received product matches your order.</a>
        </div>
      </div>
      </div>

    <!-- Element 2 -->
    <div *ngIf="showStore">
      <label>Store:</label><br>
      <ul>
        <ng-container *ngFor="let item of messages">
          <li *ngIf="isMessageVisible(item)">
            <span *ngIf="item.text">{{ item.text }}</span>
          </li>
        </ng-container>
      </ul>
      <input type="text" [(ngModel)]="senderStore"><br>
      <button (click)="pushTextWithRole('senderStore','financier')">Send for financier's approval</button>
      <button (click)="storeToManufacturer('senderStore', 'manufacturer')">Send to the manufacturer</button>
      <button (click)="pushTextWithRole('senderStore', 'buyer')">Send to the buyer</button>
      <div>
        <h2>Objective of this role:</h2>
        <a>Your objective is to to firstly check with the financier if you can afford to buy the order, after which,
          send it to the manufacturer. The complete orders you receive should be given back to the client.</a>
      </div>
      <app-answer-questions></app-answer-questions>
    </div>

    <!-- Element 3 -->
    <div *ngIf="showFinancier">
      <label>Financier:</label><br>
      <h5>Store Money: {{storeMoney}}</h5>
      <h5>Manufacturer Money: {{manufactureMoney}}</h5>
      <ul>
        <ng-container *ngFor="let item of messages">
          <li *ngIf="isMessageVisible(item)">
            <span *ngIf="item.text">{{ item.text }}</span>
          </li>
        </ng-container>
      </ul>
      <input type="text" [(ngModel)]="senderFinancier"><br>
      <button (click)="pushTextWithRole('senderFinancier', 'store')">Send to the store</button>
      <button (click)="pushTextWithRole('senderFinancier', 'manufacturer')">Send to the manufacturer</button>
      <div>
        <h2>Objective of this role:</h2>
        <a>Your objective is to confirm that the store and the manufacturer have the budget to buy or manufacture the order.</a>
      </div>
      <app-answer-questions></app-answer-questions>
    </div>

    <!-- Element 4 -->
    <div *ngIf="showManufacturer">
      <label>Manufacturer:</label><br>
      <ul>
        <ng-container *ngFor="let item of messages">
          <li *ngIf="isMessageVisible(item)">
            <span *ngIf="item.text">{{ item.text }}</span>
          </li>
        </ng-container>
      </ul>
      <input [(ngModel)]="senderManufacturer" type="text"><br>
      <button (click)="pushTextWithRole('senderManufacturer', 'financier')">Send for financier's approval</button>
      <button (click)="manufToShipper('senderManufacturer', 'shipper')">Send to shipper</button>
      <div>
        <h2>Objective of this role:</h2>
        <a>Your objective is to manufacture goods: the store sends an order, your objective is to check with the financier
          whether you can build it and then you have to send it to the shipper.</a>
      </div>
      <app-answer-questions></app-answer-questions>
    </div>

    <!-- Element 5 -->
    <div *ngIf="showShipper">
      <label>Shipper:</label>
      <ul>
        <ng-container *ngFor="let item of messages">
          <li *ngIf="isMessageVisible(item)">
            <span *ngIf="item.text">{{ item.text }}</span>
          </li>
        </ng-container>
      </ul>
      <input type="text" [(ngModel)]="senderShipper"><br>
      <button (click)="pushTextWithRole('senderShipper', 'financier')">Send for financier's approval</button>
      <button (click)="pushTextWithRole('senderShipper', 'store')">Send to store</button>
      <div>
        <h2>Objective of this role:</h2>
        <a>Your objective is to redirect received built orders to the store.</a>
      </div>
      <app-answer-questions></app-answer-questions>
    </div>
  </div>
